@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
:root {
	--body-width: 1300px;
	--body-background-color: #0e1323;
	--body-font-color: #fff;
	--lead-background-color: #5747ea;
	--card-background-color: #1c204b;
	--button-font-color: #7078c9;
	--base-font-color: #bbc0ff;
	--base-font-size: 15px;
	--h1-font-size: 40px;
	--card-heading-font-size: 18px;
	--meta-font-size: 12px;
	--animation-speed: 500ms;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: Rubik, sans-serif;
}

body {
	background-color: var(--body-background-color);
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	background: none;
	padding: 0;
	margin: 0;
	border: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
